$color-primary: #b4365c;
$color-secondary: #1b912f;

$roboto-black: 'Roboto Black';
$roboto-thin: 'Roboto Thin';
$roboto-medium: 'Roboto Medium';
$roboto-regular: 'Roboto Regular';
$roboto-light: 'Roboto Light';
$roboto: 'Roboto';