@import 'src/styles/mixins';
@import 'src/styles/variables';

.post-four {
   height: 304px;
   width: 25%;
   margin-top: 22px;
   background: $color-primary;
   @include box-shadow(-8px, 2px, 30px -8px, rgba(0, 0, 0, 0.39));

   @media (max-width: 1055px) {
      width: 27.5%;
      height: 262px;
      margin-top: 17px;
   }

   @media (max-width: 980px) {
      width: 48.5%;
      margin-top: 14px;
   }

   .content {
      position: relative;
      overflow: hidden;
      @include flexbox();
      @include align-items(flex-end);


      .info {
         height: 30%;
         padding: 0 20px;
         background-color: $color-primary;
         @include flexbox();
         position: relative;

         @media (max-width: 1320px) {
            padding: 0 12px 15px 20px;
         }

         @media (max-width: 1110px) {
            height: 35%;
         }

         @media (max-width: 580px) {
            padding: 0 12px 15px 12px;
         }

         .rounded-element-blue-lighten {
            position: absolute;
            border-radius: 50%;
            height: 90px;
            width: 90px;
            top: 2px;
            left: 19%;
            background-color: lighten($color-primary, 3);
            z-index: 0;


            @media (max-width: 1320px) {
               height: 113px;
               width: 112px;
               left: 13%;
            }

            @media (max-width: 1170px) {
               left: 3%;

            }

            @media (max-width: 1110px) {
               top: 3px;
               height: 121px;
            }

         }

         .rounded-element-blue {
            position: absolute;
            border-radius: 50%;
            height: 127px;
            width: 244px;
            top: -124px;
            left: 0%;
            background-color: $color-primary;
            z-index: 1;

            @media (max-width: 1170px) {
               top: -117px;
               width: 251px;
            }

         }

         .square-element-blue-lighten {
            position: absolute;
            height: 153px;
            width: 198px;
            top: -53px;
            left: -25%;
            z-index: 0;
            background-color: lighten($color-primary, 3);

            @media (max-width: 1385px) {
               left: -29%;
            }

            @media (max-width: 1320px) {
               height: 160px;
            }

            @media (max-width: 1310px) {
               left: -32%;
            }


            @media (max-width: 1290px) {
               left: -35%;
            }

            @media (max-width: 1225px) {
               left: -34%;
            }

            @media (max-width: 1170px) {
               left: -45%;
            }

            @media (max-width: 1110px) {
               height: 181px;
            }

            @media (max-width: 570px) {
               left: -50%;
            }

            @media (max-width: 530px) {
               width: 178px;
            }
         }

         &__social-media {
            text-align: left;
            padding-left: 28px;

            @media (max-width: 1320px) {
               position: relative;
               z-index: 1;
               @include flexbox();
               @include justify-content(flex-end);
               @include flex-direction(column);
            }

            @media (max-width: 1215px) {
               padding-left: 22px;

            }

            @media (max-width: 540px) {
               padding-left: 0;
            }

            p {
               font-size: 0.69rem;
               line-height: 14px;
               margin-top: 0;
            }
         }

         &__title {
            position: relative;
            z-index: 1;

            @media (max-width: 1290px) {

               @include flexbox();
               @include justify-content(center);
               @include flex-direction(column);
            }

            @media (max-width: 540px) {
               display: none;
            }

            .title {
               color: white;
               font-size: 1.5rem;
               text-align: left;
               font-weight: bold;
               text-transform: uppercase;

               @media (max-width: 1290px) {
                  font-size: 1.26rem;
               }

               @media (max-width: 1170px) {
                  font-size: 1.06rem;
               }

               span {
                  font-size: 2.188rem;
                  font-family: $roboto-black;
                  display: block;
                  color: $color-secondary;
                  line-height: 35px;

                  @media (max-width: 1290px) {
                     font-size: 1.8rem;
                     line-height: 25px;
                  }

                  @media (max-width: 1170px) {
                     font-size: 1.518rem;
                  }
               }
            }
         }
      }


      .bg-yellow-rounded {
         position: absolute;
         top: -199px;
         left: 0;
         border-radius: 50%;
         height: 386px;
         width: 108%;
         background-color: $color-secondary;
         z-index: 2;
         overflow: hidden;
         border-right: solid 63px $color-secondary;


         @media (max-width: 1170px) {
            left: -49px;
            width: 157%;
            border-left: solid 23px $color-secondary;
         }


         @media (max-width: 1055px) {
            top: -217px;
         }

         @media (max-width: 1050px) {
            top: -228px;
         }

         @media (max-width: 615px) {
            top: -228px;
            left: -60px;
         }

         @media (max-width: 560px) {
            top: -244px;
            left: -85px;
         }

         @media (max-width: 540px) {
            height: 423px;
         }

         @media (max-width: 480px) {
            height: 411px;
            top: -245px;
         }

         @media (max-width: 380px) {
            top: -262px;
         }

      }

      .bg-image {
         position: absolute;
         z-index: 1;
         height: 637px;
         width: 586px;
         top: -111px;
         left: 20px;
         border-radius: 55%;
         background-image: url('../../assets/images/bg-post-4.jpg');
         background-size: 56%;
         background-repeat: no-repeat;
         background-position: 0px 310px;

         @media (max-width: 1170px) {
            left: -12px;
         }

         @media (max-width: 1055px) {
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: 37px 327px;
            left: -26px;
         }

         @media (max-width: 1050px) {
            background-position: 37px 338px;
            left: -15px;
         }

         @media (max-width: 560px) {
            background-size: 43%;
            background-position: 76px 356px;
            left: -15px;
         }

         @media (max-width: 460px) {
            background-size: 34%;
         }

         @media (max-width: 380px) {
            background-size: 32%;
            background-position: 58px 371px;
         }
      }

      height: 100%;
      width: 100%;
   }

}